import React from "react";
import { withStyles } from "@material-ui/core/styles";
import <%=name%> from "../melonUi/src/foundation"

const styles = theme => ({
    
});

export default withStyles(styles)(() => {
    return (
        <div>
            <div><%=name%></div>
            <div><<%=name%>></<%=name%>></div>
        </div>
    );
});
